.header{
display:flex;
align-items: center;
justify-content: space-between;

max-width: 1064px;
width: 100%;
margin: 0 auto;

padding: 24px 20px;
}

.nav a{
color: #8257e5;
}

.content{
color: #555;
max-width: 776px;
width: 100%;
margin: 0 auto;

padding: 24px 20px;
}

.content p{ 
padding: 20px 0;
}

.content h2{ 
margin-bottom: 20px;
}