.header{
display:flex;
align-items: center;
justify-content: space-between;

max-width: 1064px;
width: 100%;
margin: 0 auto;

padding: 24px 20px;
}

.nav a{
color: #8257e5;
}

.content{
max-width: 776px;
width: 100%;
margin: 0 auto;

padding: 24px 20px;
}

.content p{ 
padding: 20px 0;
}
.content h1{ 
    font-size: 24px;
}

.content h2{ 
font-size: 18px;
}

.footer {
padding: 24px 20px;
display:flex;
align-items: center;
justify-content: space-between;
max-width: 1064px;
width: 100%;
margin: 0 auto;

}

.footer button{
    color:#8a8ad6;
    background-color:#414141;
    border-radius: 5px;
    padding:1rem 2rem;
    background-color: transparent;
    font-size:1rem;
  
}

.modal{
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50% -50%);
    background-color:#fff;
    border-radius:5px;
    color:#333;
    
}

.overlay{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    inset:0;
}

.closeModalButton{
    width: 100%;
    padding:12px 20px;
    margin-top: 16px;
    background-color: #8257e5;
    border-radius: 5px;
    color:#fff;
    font-size:18px;
    font-weight: bold;
}